# =====================
# Java / Spring Boot
# =====================
target/
*.class
*.log

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
out/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
build/
.next/
.env
.env.*

# =====================
# OS
# =====================
.DS_Store

# =====================
# Maven
# =====================
.mvn/wrapper/maven-wrapper.jar

